policy_module(nakam, 1.100.1)

########################################
#
# Declarations
#

type nakam_t;
type nakam_exec_t;
init_daemon_domain(nakam_t, nakam_exec_t)

permissive nakam_t;

type nakam_initrc_exec_t;
init_script_file(nakam_initrc_exec_t)

type nakam_conf_t;
files_type(nakam_conf_t)

type nakam_var_lib_t;
files_type(nakam_var_lib_t)

type nakam_var_run_t;
files_type(nakam_var_run_t)

type nakam_port_t;
corenet_port(nakam_port_t)

########################################
#
# nakam local policy
#
allow nakam_t self:process { fork };

allow nakam_t self:fifo_file rw_fifo_file_perms;
allow nakam_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(nakam_t, nakam_conf_t, nakam_conf_t)
manage_files_pattern(nakam_t, nakam_conf_t, nakam_conf_t)

manage_dirs_pattern(nakam_t, nakam_var_lib_t, nakam_var_lib_t)
manage_files_pattern(nakam_t, nakam_var_lib_t, nakam_var_lib_t)
files_var_lib_filetrans(nakam_t, nakam_var_lib_t, { dir file })

manage_dirs_pattern(nakam_t, nakam_var_run_t, nakam_var_run_t)
manage_files_pattern(nakam_t, nakam_var_run_t, nakam_var_run_t)

sysnet_dns_name_resolve(nakam_t)
corenet_all_recvfrom_unlabeled(nakam_t)

allow nakam_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(nakam_t)
corenet_tcp_sendrecv_generic_node(nakam_t)
corenet_tcp_sendrecv_all_ports(nakam_t)
corenet_tcp_bind_generic_node(nakam_t)

gen_require(`
    type nakam_port_t;
')
allow nakam_t nakam_port_t:tcp_socket name_bind;

gen_require(`
    type nakam_port_t;
')
allow nakam_t nakam_port_t:tcp_socket name_connect;

domain_use_interactive_fds(nakam_t)

files_read_etc_files(nakam_t)

miscfiles_read_localization(nakam_t)

sysnet_dns_name_resolve(nakam_t)

allow nakam_t nakam_exec_t:file execute_no_trans;
allow nakam_t self:process setsched;
corecmd_exec_ls(nakam_t)
corenet_tcp_connect_http_port(nakam_t)
dev_read_urand(nakam_t)
fs_getattr_xattr_fs(nakam_t)
kernel_read_system_state(nakam_t)
